{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}
{% block javascripts %}
    {{ parent() }}

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
  Bonjours, quelle version voulez vous visiter ? 
    <a href="{{ path('basic') }}">Version basique</a>
   <a href="{{ path('game') }}">Version jeu</a>
{% endblock %}
