
@import '../../../../styles/basic/variable.scss';
.skill-box {
    width: 110px;
    height: 110px;
    padding: 10px;
    margin: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    border: 1px solid $medium-color;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 15px 5px #fffbfb25; 
    box-shadow:  0px 4px 8px rgba(134, 151, 168, 0.1);
    background-color: $dark-color;
    .skill-box-title {
        text-align: center;
    }
    .skill-box-image {
        img {
            width: 35px;
            height: 35px;
        }
    }
    &:hover{
        animation: bounce 0.35s ease infinite alternate;
    }
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* smartphone en mode portait */
    .skill-box {
        width: 80px;
        height: 80px;
        padding: 10px;
        margin: 5px;
        .skill-box-title{
            font-size: 12px;
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1081px) {
    /* iPads portrait et landscape */
    .skill-box {
        width: 90px;
        height: 90px;
        padding: 10px;
        margin: 5px;
        .skill-box-title{
            font-size: 15px;
        }
    }
}
