@import '../basic/variable.scss';

body {
    background-color: $dark-color;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    height: 100%;
    .home-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        .home-section__header {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
            width: 100vw;
            background-color: $flash-color;
            .home-section__header-name {
                width: 33vw;
                h1{
                font-weight: 900;
                margin: 0;
                font-size: 2rem;
                color: $light-color;
                }
            }
            .home-section__header-logo {
                width: 33vw;
                display: flex;
                justify-content: center;
                .logo-th {
                    height: 250px;
                    width: 250px;
                    margin-top: 80px;
                }
            }
            .home-section__header-description {
                width: 33vw;
                h2 {
                    text-align: end;
                    font-weight: bold;
                    font-size: 1.5rem;
                    margin: 0;
                    color: $light-color;
                    span {
                        color: $dark-color;
                    }
                }
            }
        }
 

        .question {
            text-align: center;
            margin: 0;
            margin-top: 100px;
            font-size: 1.8rem;
            color: $light-color;
            span {
                color: $flash-color;
            }
        }
        .home-link {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .home-link-container {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: row;
                .single-link-container {
                    width: 100%;
                    max-width: 35vw;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin: 10px;
                    .link-text {
                        color: $light-color;
                        font-size: 1.5rem;
                        text-align: center;
                        span {
                            color: $flash-color;
                        }
                        .home-icon {
                            svg {
                                width: 200px;
                                height: 200px;
                                transition: all 0.5s; 
                            }
                        }
                    }
                    &.left{
                        svg{
                            animation: BasicIconMove 5s infinite;
                        }
                    }:hover {
                        cursor: grab;
                        svg{
                            scale: 1.2;
                        }
                    }
                    &.right{
                        svg{
                            animation: GameIconMove 5s infinite;
                        }
                    }:hover {
                        cursor: grab;
                        svg{
                            scale: 1.2;
                        }
                    }
                }
            }
        }
    }
    @keyframes GameIconMove {
        0% {
            transform: rotate(15deg);
        }
        50%{
            transform: rotate(-15deg);
        }
        100% {
            transform: rotate(15deg);
        }
    }
     @keyframes BasicIconMove {
        0% {
            transform: rotate(-15deg);
        }
        50%{
            transform: rotate(15deg);
        }
        100% {
            transform: rotate(-15deg);
        }
     }  
    .fadeOutHome {
        animation: fadeOut 1.5s ease;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    body {
        .home-section {
            width: 95vw;
            .home-link {
                .single-link-container {
                    width: 100%;
                    margin: 0px;

                    &.left {
                        display: flex;
                        flex-direction: column-reverse;
                        justify-content: center;
                        align-items: center;

                        margin-left: 0px;
                        .link-text {
                            margin-left: 0px;
                        }
                    }
                    &.right {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-right: 0px;
                        .link-text {
                            margin-right: 0px;
                        }
                    }
                }

                .link-one,
                .link-two {
                    width: 80vw;
                    height: 150px;
                }
            }
        }
    }
}
