@import '../basic/variable.scss';

body {
    background-color: $dark-color;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    height: 100%;
    .home-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .home-text {
            height: 10%;
            color: $light-color;
            margin-bottom: 20px;
            margin-top: 20px;
            text-align: center;
            h1,
            h2 {
                font-weight: bold;
                font-size: 1.5rem;
                margin: 0;
                span {
                    color: $flash-color;
                }
            }
            h1 {
                font-size: 2rem;
            }
            p {
                font-size: 1.2rem;
                margin: 0;
                span {
                    color: $flash-color;
                }
            }
        }
        .home-link {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            .single-link-container {
                display: flex;
                flex-direction: row;
                margin: 10px;
                &.left {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin-left: 100px;
                    .link-text {
                        margin-left: 50px;
                    }
                }
                &.right {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    margin-right: 100px;
                    .link-text {
                        margin-right: 50px;
                    }
                }
                .link-text {
                    color: $light-color;
                    text-align: center;
                    span {
                        color: $flash-color;
                    }
                }
            }

            .link-one,
            .link-two {
                width: 700px;
                height: 360px;
                padding: 0;
                border: 1px solid $medium-color;
                -webkit-box-shadow: 5px 5px 15px 5px #fffbfb25;
                box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);
                img {
                    width: 100%;
                    border: none;
                    object-fit: cover;
                }
                &:hover {
                    border: 1px solid $flash-color;
                }
            }
            .link-one {
                overflow-y: scroll;
            }
        }
    }

    .fadeOutHome {
        animation: fadeOut 1.5s ease;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    body {
        .home-section {
            width: 95vw;
            .home-link {
                .single-link-container {
                    width: 100%;
                    margin: 0px;
                   
                    &.left {
                        display: flex;
                        flex-direction: column-reverse;
                        justify-content: center;
                        align-items: center;

                        margin-left: 0px;
                        .link-text {
                            margin-left: 0px;
                        }
                    }
                    &.right {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-right: 0px;
                        .link-text {
                            margin-right: 0px;
                        }
                    }
                }

                .link-one,
                .link-two {
                    width: 80vw;
                    height: 150px;
                }
            }
        }
    }
}
    
