{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_title %}
    <div class="text-center mb-4">
        <p> Admin </p>
    </div>
{% endblock %}

{% block head_javascript %}
    {{ parent() }}


{% endblock %}

{% block main %}
   
    {% endblock %}