@import '../../styles/basic/variable.scss';
.presentationSection {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .arrow-box{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        border: 2px solid $flash-color;
        border-radius: 2em;
        height: 75px;
        margin-bottom: 15px;
        padding: 2px;
      .circle{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $flash-color;
        animation: BounceCircle 4s infinite;
        opacity: 1;
        transition: opacity 0.5s;
      }
    }
   @keyframes BounceCircle {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-35px);
      }
      100% {
        transform: translateY(0);
      }
    }
    .presentation-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .presentation-card {
            width: auto;
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 1fr ;
            grid-template-areas:
                "presentation-card-image"
                "presentation-card-info";
            padding: 25px;
            .presentation-card-image {
                img {
                    border-radius: 50%;
                    height: 250px;
                    width: 250px;
                    -webkit-box-shadow: -11px 0px 2px 0px #DC4C4C,
                        -20px 0px 2px 0px #A14141, -30px 0px 2px 0px #673737,
                        -40px 0px 2px -3px #2c2c2c;
                    box-shadow: -11px 0px 2px 0px #DC4C4C,
                    -20px 0px 2px 0px #A14141, -30px 0px 2px 0px #673737,
                    -40px 0px 2px -3px #2c2c2c;
                }
            }
            .presentation-card-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 15px;
                .presentation-card-info-name {
                    font-size: 1.5rem;
                    font-weight: bold;
                    span {
                        color: $flash-color;
                    }
                }
                .presentation-card-info-social {
                    a {
                        text-decoration: none;
                        color: $flash-color;
                        margin-right: 15px;
                    }
                    svg {
                        margin-top: 25px;
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
}
