<div class="gameModalContainer">
<div class="gameModalInner">
    <div class="nes-container with-title is-centered is-rounded is-dark">
        <p class="title">Quitter ?</p>
        <p>Voulez vous visitez l'autre portfolio ?</p>
        <button type="button" class="nes-btn is-success" id="exit-game" aria-label="oui">
            Oui
        </button>
        <button type="button" class="nes-btn is-danger" id="close-modal" aria-label="non">
            Non
        </button>
    </div>
    </div>
</div>
