<div id="gradient"></div>
        <div id="card">
            <img src="{{ asset('build/images/tens.jpeg') }}" alt="tens"/>
            <h2>Houry Tennessee</h2>
            <p>Developpeur Web / Web Mobile</p>
            <p>
                Passionné de nouvelles technologies, j'ai commencé ma vie
                                                                                    professionnelle dans l'électronique. Les différents projets
                                                                                    que j’ai pu réaliser dans ce domaine m'ont aidé à développer
                                                                                    ma capacité d’adaptation et ma rigueur. Pour moi, la suite
                                                                                    logique était d'apprendre la programmation. Je me suis donc
                                                                                    reconverti en Développeur Web / Web Mobile, car c'est un
                                                                                    domaine en constante évolution.
            </p>
            <span class="left bottom">07 61 79 33 55</span>
            <span class="right bottom">Loury, France</span>
        </div>