
        <button type="button" class="btn-close" id="close-modal" aria-label="Close"><i class="nes-icon close is-small"></i></button>
        <button type="button" class="btn-close" id="open-game" aria-label="Close"><i class="nes-icon close is-small"></i></button>