<div class="nes-container with-title is-dark is-centered is-rounded">
  <p class="title">How to </p>
   <p>Bonjour et bienvenue</p>
   <p>Utilisez les fléches de votre clavier pour se déplacer ou cliqué a l'endroit ou vous souhaitez vous rendre .</p>
    <p>Visitez les maisons pour en apprendre plus sur moi ou dirigé vous vers la droite pour visitez l'autre version du portfolio.</p>
    <p>Appuyé sur ESPACE pour commencer</p>
    
</div>