<div class="nes-container with-title is-dark is-centered is-rounded">
  <p class="title">Game Over</p>
   <h2>You collected
        <span id="nbCoin"></span>
        <i class="nes-icon coin is-medium"></i>
    </h2>
    <p> Would you like to try again ?</p>
    <div style="background-color:#212529; padding: 1rem 0;">

        <label>
            <input type="radio" class="nes-radio is-dark" name="retry-dark" value="Yes" checked/>
            <span>Yes</span>
        </label>

        <label>
            <input type="radio" class="nes-radio is-dark" name="retry-dark" value="No"/>
            <span>No</span>
        </label>
    </div>
    <button class="nes-btn" id="retryButton">Retry</button>
</div>