<div class="nes-container with-title is-dark is-centered is-rounded">
  <p class="title">How to </p>
   <p>Collect as many coins as possible, without getting hit by the skeletons .</p>
   <p> Use arrow keys to move.</p>
    <p>Press SPACE to start</p>
    
</div>