<div class="nes-container with-title is-dark is-centered is-rounded">
  <p class="title">How to </p>
   <p>Collectez autant de pièces que possible, sans vous faire toucher par les squelettes.</p>
   <p>Utilisez les fléches de votre clavier pour se déplacer.</p>
    <p>Appuyé sur ESPACE pour commencer</p>
    
</div>