@font-face {
  font-family: 'Press Start 2P';
  src: url('../fonts/PressStart2P-Regular.ttf');
}
body {
  font-family: 'Press Start 2P';
  background-color: black !important;
}
#modal1,
#modal2,
#modal3,
#modal4,
#modal5,
#modal6 {
  display: none;
  width: 1400px;
  height: 700px;
  padding: 5px 20px 20px 10px;
  position: fixed;
  top: 10%;
  left: 10%;
  z-index: 1;
}

#modal2 {
  display: none;
}
#modal2 button {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
#modal3 {
  display: none;
}

#modal1 {
  display: none;
}
#modal4 {
  display: none;
  background-color: #caab7c;
  background-image: url('https://transparenttextures.com/patterns/natural-paper.png');
}

.btn-close {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  z-index: 0;
  display: block;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
