.profil_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.profil_left {
  background-color: #caab7c;
  background-image: url('../../images/natural-paper.png');
  height: 700px;
  width: 550px;
  margin-left: 50px;
}
.profil_left_top {
  display: flex;
  flex-direction: row;
}
.profil_left_top .img_profil {
  width: 200px;
  height: 200px;
}
.profil_left_top .profil_info {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  text-align: center;
}
.profil_middle_social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}
.profil_middle_social img {
  width: 50px;
  height: 50px;
}
.profil_left_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.profil_left_bottom_left,
.profil_left_bottom_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profil_left_bottom_left {
  width: 75%;
}
.profil_left_bottom_right {
  width: 75%;
}
.profil_left_bottom_right .skillBox,
.profil_left_bottom_left .stuffBox {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 250px;
}
.profil_left_bottom_right .skillBox p,
.profil_left_bottom_left .stuffBox p {
  font-size: 12px;
}
.profil_left_bottom_right .nes-container.is-rounded,
.profil_left_bottom_left .nes-container.is-rounded {
  padding: 0.5rem 0.8rem;
}

.profil_left_bottom_right .skillBox img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.profil_left_bottom_left .stuffBox img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.profil_right {
  background-color: #caab7c;
  background-image: url('../../images/natural-paper.png');
  height: 450px;
  width: 700px;
  overflow: scroll;
}
