@import '../../styles/basic/variable.scss';

.contactSection {
    height: 100vh;
    overflow: hidden;

    .contact-container {
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
    .contactSection {
        height: 100%;

        .contact-container {
            height: 80%;
        }
    }
}
