@import '../../../../styles/basic/variable.scss';
$targetZ: -600px;
$targetY: -400px;
$targetX: -450px;
.success-message {
    display: none;
    background-color: $dark-color;
    height: 100%;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    .svg-wrapper {
        transform: translateY(-50%);
        margin: 0 auto;
        width: 500px;
        .shape1,
        .shape2 {
            stroke-dasharray: 1300;
            stroke-width: 2px;
            fill: transparent;
            stroke: $flash-color;
        }
        .shape1 {
            animation: animateShape1 4s linear;
        }
        .shape2 {
            animation: animateShape2 4s linear;
        }
        .successMessageContent {
            opacity: 0;
            fill: $flash-color;
            transition: opacity 0.3s;
        }
    }
}
.paper-plane {
    height: 50px;
    width: 50px;
    color: $flash-color;
    animation: paper-plane-animation 2.5s linear; // change duration in compenent file too
}
.cloud-icon {
    height: 150px;
    width: 150px;
    color: $flash-color;
    -webkit-transform: translateZ($targetZ - 100px) translateY($targetY)
        translateX($targetX + 100px);
    transform: translateZ($targetZ - 100px) translateY($targetY)
        translateX($targetX + 100px);
}
@keyframes paper-plane-animation {
    0% {
        -webkit-transform: translateZ(0) translateY(0) translateX(0) scale(1)
            rotate(-90deg);
        transform: translateZ(0) translateY(0) translateX(0) scale(1)
            rotate(-90deg);
    }
    50% {
        -webkit-transform: translateZ($targetZ) translateY($targetY)
            translateX($targetX) scale(0.5) rotate(-90deg);
        transform: translateZ($targetZ) translateY($targetY)
            translateX($targetX) scale(0.5) rotate(-90deg);
    }
    51% {
        -webkit-transform: translateZ($targetZ) translateY($targetY)
            translateX($targetX) scale(0.5) rotate(90deg);
        transform: translateZ($targetZ) translateY($targetY)
            translateX($targetX) scale(0.5) rotate(90deg);
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0) translateX(0) scale(1)
            rotate(90deg);
        transform: translateZ(0) translateY(0) translateX(0) scale(1)
            rotate(90deg);
    }
}

@keyframes animateShape1 {
    0% {
        stroke-dashoffset: 1300;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes animateShape2 {
    0% {
        stroke-dashoffset: -1300;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* smartphone en mode portait */
    .success-message {
        .svg-wrapper {
            margin-top: 90px;
        }
    }
}
